.App {
  text-align: center;
}

header{
  position: relative;
  overflow: hidden;
  padding: 30px 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header .card{
  float: left;
  margin-right: 25px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*  List Item group */
.list-group{
  width: 300px;
  float: left;
}

.list-group-item{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

.closeBtn{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  background-color: red;
  color: #ffffff;
  position: absolute;
  right: -30px;
  top: 7px;
  cursor: pointer;
}

.form-check-input{
  position: relative;
  top: 2px;
  width: 30px;
  height: 15px;
}

.completed {
  text-decoration: line-through;
}

.active{
  text-decoration: underline !important;
}